.app{
    text-align: center;
}

h1 {
    font-family: bigelow rules;
    font-size: 72px;
    color: #CC8D00;
}


@media screen and (max-width: 1024px) {
    .card-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        width: 85vw;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .card-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        width: 90vw;
        margin: 0 auto;
    }
}

@media screen and (max-width: 425px) {
    .card-list {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        width: 90vw;
        margin: 0 auto;
    }
}